@{
    ViewData["Title"] = "Résultats";
}

@model List<Relation>

<h1>Résultats</h1>

@{
    int totalGrade = Model.Sum(rel => rel.grade);
}

@foreach (var relation in Model)
{
    <div>
        <p>Question: @relation.question.ToString()</p>

        <ul>
            <li>
                Answer Choice: @relation.answer.ToString()
                @if (relation.answer == relation.selectedItem)
                {
                    <strong>(Sélectionné)</strong>
                }
            </li>
        </ul>

        <p>Grade: @relation.grade</p>
    </div>
    <hr />
}

<p>Total Grade: @totalGrade</p>

<p>Merci d'avoir répondu au questionnaire !</p>

<a class="nav-link text-blue" asp-area="" asp-controller="Examen" asp-action="@Model[0].NextAction">Next</a>
